<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.w3.org./1999/xhtml"
  xmlns:sec="http://www.w3.org./1999/xhtml"
>
  <head th:fragment="common-header">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />

    <title>PTITShop</title>
    <link rel="icon" href="/image/iconlogolast.png" />
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito|Roboto|Roboto+Condensed|Roboto+Slab"
      rel="stylesheet"
    />
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Tables plugin -->
    <link href="/css/datatables.min.css" rel="stylesheet" />
    <!-- Bootstrap tagsinput -->
    <link href="/css/tagsinput.css" rel="stylesheet" />
    <!-- Simple pagination -->
    <link href="/css/simplePagination.css" rel="stylesheet" />
    <!-- Slick carousel -->
    <link
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
      rel="stylesheet"
    />
    <link
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
      rel="stylesheet"
    />
    <!-- Custom styles -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- Feather icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="/css/custom.css" />
    <link rel="stylesheet" href="/css/stress.css" />
  </head>

  <body>
    <div th:fragment="navbar" class="header">
      <nav
        class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow-sm"
      >
        <a class="navbar-type inner-image" th:href="@{/}"
          ><img src="/image/logo.png"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse inner-menu" id="navbarCollapse">
          <ul class="navbar-nav ml-auto font-weight-bold">
            <li class="nav-item">
              <a class="nav-link box-icon" th:href="@{/}">
                <i class="fa-solid fa-house inner-icon"></i>
                <span class="inner-desc">Trang chủ</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link box-icon" th:href="@{/store}">
                <i class="fa-solid fa-store inner-icon"></i>
                <span class="inner-desc">Cửa hàng</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link box-icon" th:href="@{/shopping-cart/cart}">
                <span
                  class="badge badge-pill inner-count"
                  style="vertical-align: top"
                  th:text="${shoppingCartItemNumber} > 0 ? ${shoppingCartItemNumber}"
                ></span>
                <i class="fa-solid fa-cart-plus inner-icon"></i>
                <span class="inner-desc">Giỏ hàng</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link box-icon"
                sec:authorize="isAnonymous()"
                th:href="@{/login}"
              >
                <i class="fa-solid fa-right-to-bracket inner-icon"></i>
                <span class="inner-desc">Đăng nhập</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link box-icon"
                sec:authorize="isAuthenticated()"
                th:href="@{/my-profile}"
              >
                <i class="fa-solid fa-user inner-icon"></i>
                <span class="inner-desc">Tài khoản</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link box-icon"
                sec:authorize="isAuthenticated()"
                th:href="@{/logout}"
              >
                <i class="fa-solid fa-right-from-bracket inner-icon"></i>
                <span class="inner-desc">Đăng xuất</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-dark box-icon"
                sec:authorize="hasRole('ADMIN')"
                th:href="@{/article/article-list}"
              >
                <i class="fa-solid fa-user-gear inner-icon"></i>
                <span class="inner-desc">Quản lý</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div th:fragment="footer">
      <footer class="new_footer_area bg_color">
        <div class="new_footer_top">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div
                  class="f_widget company_widget wow fadeInLeft"
                  data-wow-delay="0.2s"
                  style="
                    visibility: visible;
                    animation-delay: 0.2s;
                    animation-name: fadeInLeft;
                  "
                >
                  <h3 class="f-title f_600 t_color f_size_18">
                    Liên lạc với chúng tôi
                  </h3>
                  <p>Đừng bỏ lỡ những siêu ưu đãi của chúng tôi!</p>
                  <form
                    action="#"
                    class="f_subscribe_two mailchimp"
                    method="post"
                    novalidate="true"
                    _lpchecked="1"
                  >
                    <input
                      type="text"
                      name="EMAIL"
                      class="form-control memail"
                      placeholder="Email"
                    />
                    <button class="btn btn_get btn_get_two" type="submit">
                      Gửi ngay
                    </button>
                    <p class="mchimp-errmessage" style="display: none"></p>
                    <p class="mchimp-sucmessage" style="display: none"></p>
                  </form>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div
                  class="f_widget about-widget pl_70 wow fadeInLeft"
                  data-wow-delay="0.4s"
                  style="
                    visibility: visible;
                    animation-delay: 0.4s;
                    animation-name: fadeInLeft;
                  "
                >
                  <h3 class="f-title f_600 t_color f_size_18">Download</h3>
                  <ul class="list-unstyled f_list">
                    <li><a href="#">Android</a></li>
                    <li><a href="#">IOS</a></li>
                    <li><a href="#">Desktop</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div
                  class="f_widget about-widget pl_70 wow fadeInLeft"
                  data-wow-delay="0.6s"
                  style="
                    visibility: visible;
                    animation-delay: 0.6s;
                    animation-name: fadeInLeft;
                  "
                >
                  <h3 class="f-title f_600 t_color f_size_18">Hỗ trợ</h3>
                  <ul class="list-unstyled f_list">
                    <li><a href="#">Câu hỏi thường gặp</a></li>
                    <li><a href="#">Điều khoản &amp; dịch vụ</a></li>
                    <li><a href="#">Báo lỗi</a></li>
                    <li><a href="#">Tài liệu</a></li>
                    <li><a href="#">Chính sách hỗ trợ</a></li>
                    <li><a href="#">Privacy</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div
                  class="f_widget social-widget pl_70 wow fadeInLeft"
                  data-wow-delay="0.8s"
                  style="
                    visibility: visible;
                    animation-delay: 0.8s;
                    animation-name: fadeInLeft;
                  "
                >
                  <h3 class="f-title f_600 t_color f_size_18">
                    Theo dõi chúng tôi trên
                  </h3>
                  <div class="f_social_icon">
                    <a href="#" class="fab fa-facebook"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="#" class="fab fa-pinterest"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
          </div>
        </div>
        <div class="footer_bottom">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-sm-7">
                <p class="mb-0 f_400">
                  © PTITShop Inc. 2023 All rights reserved.
                </p>
              </div>
              <div class="col-lg-6 col-sm-5 text-right">
                <p>
                  Made with
                  <i class="fa-solid fa-heart" style="color: #f8d7da"></i>
                  by
                  <a href="http://cakecounter.com" target="_blank"
                    >Nhóm 2 OOP</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <div th:fragment="body-scripts">
      <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <script>
        window.jQuery ||
          document.write(
            '<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>'
          );
      </script>
      <script src="/js/bootstrap.bundle.min.js"></script>
      <script src="/js/datatables.min.js"></script>
      <script src="/js/tagsinput.js"></script>
      <script>
        feather.replace();
      </script>
      <script
        type="text/javascript"
        src="/js/jquery.simplePagination.js"
      ></script>
      <script
        type="text/javascript"
        src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
      ></script>
      <script>
        //prevent multiple form submission
        $(function () {
          $("form").submit(function () {
            $("button[type='submit']", this)
              .text("Please Wait...")
              .attr("disabled", "disabled");
            return true;
          });
        });
      </script>

      <script src="/js/tabs.js"></script>
      <script src="/js/popup.js"></script>
      <script src="/js/custom.js"></script>
    </div>
  </body>
</html>
