<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.w3.org./1999/xhtml"
  xmlns:sec="http://www.w3.org./1999/xhtml"
>
  <head th:replace="common/header :: common-header" />
  <body>
    <div th:replace="adminHome :: navbarAdmin"></div>

    <div class="container page-content">
      <form
        th:action="@{/article/add}"
        method="post"
        enctype="multipart/form-data"
      >
        <fieldset>
          <legend class="center-block">Thêm sản phẩm mới</legend>

          <div class="form-group row">
            <label for="title" class="col-2 col-form-label text-right"
              >Tên sản phẩm</label
            >
            <div class="col-6">
              <input type="text" class="form-control" id="title" name="title" required />
            </div>
          </div>
          <div class="form-group row">
            <label for="categories" class="col-2 col-form-label text-right"
              >Danh mục</label
            >
            <div class="col-6">
              <input
                type="text"
                class="form-control"
                id="categories"
                name="category"
                data-role="tagsinput"
                required
              />
            </div>
            <div class="col-4">
              <button
                type="button"
                class="btn btn-primary btn-category badge badge-pill badge-primary mr-1 mb-1"
                th:each="item : ${allCategories}"
                th:text="${item}"
                th:id="item+${category}"
              ></button>
            </div>
          </div>

          <div class="form-group row">
            <label for="types" class="col-2 col-form-label text-right"
              >Màu sắc</label
            >
            <div class="col-6">
              <input
                type="text"
                class="form-control"
                id="sizes"
                name="color"
                data-role="tagsinput"
                required
              />
            </div>
            <div class="col-4">
              <button
                type="button"
                class="btn btn-primary btn-color badge badge-pill badge-primary mr-1 mb-1"
                th:each="item : ${#lists.sort(allColors)}"
                th:text="${item}"
                th:id="size+${item}"
              ></button>
            </div>
          </div>
          <div class="form-group row">
            <label for="types" class="col-2 col-form-label text-right"
              >Phân loại</label
            >
            <div class="col-6">
              <input
                type="text"
                class="form-control"
                id="types"
                name="type"
                data-role="tagsinput"
                required
              />
            </div>
            <div class="col-4">
              <button
                type="button"
                class="btn btn-primary btn-type badge badge-pill badge-primary mr-1 mb-1"
                th:each="item : ${allTypes}"
                th:text="${#strings.capitalize(item)}"
                th:id="type+${item}"
              ></button>
            </div>
          </div>
          <div class="form-group row">
            <label for="price" class="col-2 col-form-label text-right"
              >Giá tiền</label
            >
            <div class="col-6 input-group">
              <input
                th:value="${article.price}"
                type="number"
                name="price"
                step="1"
                class="form-control"
                id="price"
                placeholder="List Price"
                required
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="stock" class="col-2 col-form-label text-right"
              >Số lượng</label
            >
            <div class="col-6">
              <input
                th:value="${article.stock}"
                type="number"
                name="stock"
                class="form-control"
                id="stock"
                placeholder="Number of in-stock"
                required
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="picture" class="col-2 col-form-label text-right">Ảnh sản phẩm</label>
            <div class="col-6">
              <input type="file" class="form-control" id="picture" name="picture" required onchange="previewImage(event)" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-8 offset-2">
              <img id="imagePreview" src="#" alt="Ảnh xem trước" style="display: none; max-width: 100%; height: auto;" />
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-2 col-6">
              <button type="submit" class="btn btn-primary">Thêm</button>
              <a class="btn btn-danger" th:href="@{/article/article-list}"
                >Huỷ</a
              >
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <div th:replace="common/header :: body-scripts"></div>
    <script src="/js/tagsinput-custom.js"></script>
  </body>
</html>
