<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.w3.org./1999/xhtml"
  xmlns:sec="http://www.w3.org./1999/xhtml"
>
  <head th:replace="common/header :: common-header" />
  <body>
    <div th:replace="adminHome :: navbarAdmin"></div>

    <div class="container page-content">
      <table
        id="table-article"
        class="table table-striped table-bordered table-hover"
      >
        <thead
          style="background-color: var(--color-one); color: #ffffff"
          class="table-light"
        >
          <tr>
            <th>Tên sản phẩm</th>
            <th>Danh mục</th>
            <th>Phân loại</th>
            <th>Màu sắc</th>
            <th>Giá tiền</th>
            <th>Số lượng</th>
            <th class="text-center">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr data-th-each="article : ${articles}">
            <td th:text="${article.title}"></td>
            <td>
              <div style="display: flex">
                <span
                  th:each="item : ${article.categories}"
                  th:text="${item.getName()}"
                ></span>
              </div>
            </td>
            <td>
              <div style="display: flex">
                <span
                  th:each="item : ${article.types}"
                  th:text="${item.getName()} "
                  class="badge badge-info mr-1 button-no-size-2"
                ></span>
              </div>
            </td>
            <td>
              <div style="display: flex">
                <span
                  th:each="item : ${article.colors}"
                  th:text="${item.getValue()} "
                  class="badge badge-info mr-1 button-no-size-2"
                ></span>
              </div>
            </td>
            <td
              th:text="${#numbers.formatDecimal(article.price, 0, 'COMMA', 3, 'POINT') + ' VND'}"
            ></td>
            <td th:text="${article.stock}"></td>
            <td class="text-center">
              <a
                th:href="@{/article/edit?id=}+${article.id}"
                class="btn rounded-pill button-no-size-1"
                ><i class="fa-solid fa-pen-to-square"></i
              ></a>
              &#160;
              <a
                th:href="@{/article/delete?id=}+${article.id}"
                class="btn rounded-pill button-no-size"
                ><i class="fa-solid fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div th:replace="common/header :: body-scripts"></div>

    <script>
      $(document).ready(function () {
        $("#table-article").DataTable({
          stateSave: true,
        });
      });
    </script>
  </body>
</html>
