<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.w3.org./1999/xhtml"
  xmlns:sec="http://www.w3.org./1999/xhtml"
>
  <head th:replace="common/header :: common-header" />
  <body>
    <div th:replace="adminHome :: navbarAdmin"></div>

    <div class="container page-content">
      <form
        th:action="@{/article/edit}"
        method="post"
        enctype="multipart/form-data"
      >
        <fieldset>
          <legend style="margin-bottom: 20px;
    text-align: center;
    font-size: 40px;" class="center-block title-bold">Sửa thông tin sản phẩm</legend>

          <input hidden="hidden" name="id" th:value="${article.id}" />

          <div class="form-group row">
            <label for="title" class="col-2 col-form-label text-right title-2 title-form-custom"
              >Tên sản phẩm</label
            >
            <div class="col-6">
              <input
                th:value="${article.title}"
                type="text"
                class="form-control inner-input"
                id="title"
                name="title"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="desc" class="col-2 col-form-label text-right title-2 title-form-custom"
            >Mô tả sản phẩm</label
            >
            <div class="col-6">
              <input
                      th:value="${article.description}"
                      type="text"
                      class="form-control inner-input"
                      id="desc"
                      name="description"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="categories" class="col-2 col-form-label text-right title-2 title-form-custom"
              >Danh mục</label
            >
            <div class="col-6 inner-button">
              <input
                type="text"
                class="form-control inner-input"
                id="categories"
                name="category"
                data-role="tagsinput"
                th:value="${preselectedCategories}"
              />
            </div>
            <div class="col-4">
              <button
                type="button"
                class="btn btn-primary btn-category badge badge-pill badge-primary mr-1 mb-1 button-no-size-2"
                th:each="item : ${allCategories}"
                th:text="${item}"
                th:id="item+${category}"
              ></button>
            </div>
          </div>
          <div class="form-group row">
            <label for="sizes" class="col-2 col-form-label text-right title-2 title-form-custom"
              >Màu sắc</label
            >
            <div class="col-6 inner-button">
              <input
                type="text"
                class="form-control inner-input"
                id="sizes"
                name="color"
                data-role="tagsinput"
                th:value="${preselectedColors}"
              />
            </div>
            <div class="col-4">
              <button
                type="button"
                class="btn btn-primary btn-color badge badge-pill badge-primary mr-1 mb-1 button-no-size-2"
                th:each="item : ${#lists.sort(allColors)}"
                th:text="${item}"
                th:id="size+${item}"
              ></button>
            </div>
          </div>
          <div class="form-group row">
            <label for="types" class="col-2 col-form-label text-right title-2 title-form-custom"
              >Phân loại</label
            >
            <div class="col-6 inner-button">
              <input
                type="text"
                class="form-control inner-input"
                id="types"
                name="type"
                data-role="tagsinput"
                th:value="${preselectedTypes}"
              />
            </div>
            <div class="col-4">
              <button
                type="button"
                class="btn btn-primary btn-type badge badge-pill badge-primary mr-1 mb-1  button-no-size-2"
                th:each="item : ${allTypes}"
                th:text="${#strings.capitalize(item)}"
                th:id="type+${item}"
              ></button>
            </div>
          </div>

          <div class="form-group row">
            <label for="price" class="col-2 col-form-label text-right title-2 title-form-custom"
              >Giá tiền</label
            >
            <div class="col-6 input-group">
              <div class="input-group-prepend">
                <span style="background-color: var(--color-one);color: #FFFFFF" class="input-group-text" id="basic-addon1">VND</span>
              </div>
              <input
                th:value="${#numbers.formatDecimal(article.price, 0, 'COMMA', 3, 'POINT') + ' VND'}"
                type="number"
                name="price"
                step="1"
                class="form-control inner-input"
                id="price"
                placeholder="Nhập giá tiền"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="stock" class="col-2 col-form-label text-right title-2 title-form-custom"
              >Số lượng</label
            >
            <div class="col-6">
              <input
                th:value="${article.stock}"
                type="number"
                name="stock"
                class="form-control inner-input"
                id="stock"
                placeholder="Number of in-stock"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="picture" class="col-2 col-form-label text-right title-2 title-form-custom">Ảnh sản phẩm</label>
            <div class="col-6">
              <input type="file" class="form-control inner-input" id="picture" name="picture" onchange="previewImage(event)" />
            </div>
          </div>
          <div class="form-group row prv-1">
            <div class="col-8 offset-2 prv-2">
              <img id="imagePreview" th:src="${article.picture}" alt="Ảnh xem trước" style="display: block; max-width: 100%; height: auto;" />
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-2 col-6">
              <button type="submit" class="btn btn-primary button-no-size">Cập nhật</button>
              <a class="btn btn-danger button-no-size-1" th:href="@{/article/article-list}"
                >Huỷ</a
              >
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <div th:replace="common/header :: body-scripts"></div>
    <script src="/js/tagsinput-custom.js"></script>
  </body>
</html>
