<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
  <head th:replace="common/header :: common-header" />

  <body>
    <div class="container">
      <div class="text-center">
        <h1>Đã có lỗi xảy ra</h1>
        <a href="#" class="btn btn-primary btn-lg my-3">Về trang chủ</a>
      </div>
      <table class="table">
        <tr>
          <td>Lỗi</td>
          <td th:text="${error}" />
        </tr>
        <tr>
          <td>Trạng thái</td>
          <td th:text="${status}" />
        </tr>
        <tr>
          <td>Đường dẫn</td>
          <td th:text="${path}" />
        </tr>
        <tr>
          <td>Thời gian</td>
          <td th:text="${timestamp}" />
        </tr>
        <tr>
          <td>Thông báo lỗi</td>
          <td th:text="${message}" />
        </tr>
      </table>
    </div>

    <div th:replace="common/header :: body-scripts"></div>
  </body>
</html>
