<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header">

<body class="d-flex flex-column">
<div th:replace="common/header :: navbar"></div>

<!--  Section_one-->
<div class="jumbotron jumbotron-fluid mt-0" th:style="'background-image: url(/image/background/8.jpg);'">
    <div class="container">
        <div class="row text-left py-5">
            <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-3 col-xl-6 offset-xl-6 my-auto">
                <h1 class="font-weight-bold" style="font-size: 120px; color: #FFFFFF;text-shadow: 2px 2px #FFFFFF;">PTIT
                    Shop</h1>
                <a th:href="@{/store}" class="btn rounded-pill btn-one btn-buy" data-addclass-on-xs="btn-sm"
                   style="font-size: 25px;">Mua ngay</a>
            </div>
        </div>
    </div>
</div>
<!-- End Section_one-->

<!-- Section Two -->
<div class="section-two">
  <div class="container">
    <div class="inner-wrap">
      <div class="inner-image">
        <img src="/image/QD09/Long_bao_2.jpg" alt="">
      </div>
      <div class="inner-content">
        <h3 class="inner-sub-title">
          Long Bào
        </h3>
        <h2 class="inner-title">
            “CHẤT” PTIT - “CHẤT” SINH VIÊN
        </h2>
        <div class="inner-list">
          <div class="inner-item">
            <i class="fa-solid fa-palette"></i>
            <span>Độc đáo</span>
          </div>
          <div class="inner-item">
            <i class="fa-regular fa-hand-point-up"></i>
            <span>Code Master</span>
          </div>
          <div class="inner-item">
            <i class="fa-solid fa-users"></i>
            <span>AE đông đủ</span>
          </div>
        </div>
        <p class="inner-desc">Đồng phục là “nhàm chán”? <br>
            Không! Với sinh viên Bưu chính, đồng phục là tuyên ngôn về sự sáng tạo
        </p>
        <a href="#" class="button button-two">
          Tìm hiểu ngay
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End Section Two -->

<!-- Section Three -->
<div class="section-three">
    <div class="container">
        <div class="inner-wrap">
            <div class="inner-content">
                <h3 class="inner-sub-title">App Download</h3>
                <h2 class="inner-title">Bạn có thể đặt hàng qua App</h2>
            </div>
            <div class="inner-image">
                <img src="/image/QD09/App.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- End Section Three -->

<!-- View in Action -->
<div class="view-action">
    <div class="container">
        <div class="box-head box-head-center">
            <h2 class="inner-title">
                Video giới thiệu sản phẩm
            </h2>
        </div>
        <div class="inner-wrap">
            <img src="/image/QD09/viewAction.jpg" alt="">
            <div class="inner-button">
                <i class="fa-solid fa-play"></i>
            </div>
        </div>
    </div>
</div>
<!-- End View in Action -->

<!--Danh mục sản phẩm-->
<section class="section py-5 ">
    <div class="container text-center">
        <h4 class="font-weight-bold ">Danh mục sản phẩm</h4>
        <div class="featured-items mt-4">
            <div class="card card-product card-featured" th:each="article : ${articles}">
                <div class="card-body">
                    <a th:href="@{/article-detail?id=}+${article.id}"><img class="card-img-top"
                                                                           th:src="${article.picture} ? '/image/article/pictures/'+${article.picture}+'.jpg' : '/image/article/itemexample.jpg'"
                                                                           alt="Card image cap"></a>
                    <a th:href="@{/article-detail?id=}+${article.id}" class="card-title" th:text="${article.title}"></a>
                    <div class="price"><span
                            th:text="${#numbers.formatDecimal(article.price, 0, 'COMMA', 3, 'POINT') + ' VND'}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Danh mục sản phẩm-->

<!-- Section Banner  -->
<div class="section-two">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="inner-box">
                    <div class="inner-icon">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <h3 class="inner-title">
                        Giao hàng miễn phí
                    </h3>
                    <p class="inner-desc">Giao hàng miễn phí toàn quốc cho sinh viên PTIT</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="inner-box">
                    <div class="inner-icon">
                        <i class="fa-solid fa-phone-volume"></i>
                    </div>
                    <h3 class="inner-title">
                        Hỗ trợ 24/7
                    </h3>
                    <p class="inner-desc">Hỗ trợ, tư vấn nhiệt tình các sản phẩm mới nhất</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="inner-box">
                    <div class="inner-icon">
                        <i class="fa-solid fa-gift"></i>
                    </div>
                    <h3 class="inner-title">
                        Quà tặng
                    </h3>
                    <p class="inner-desc">Quà tặng miễn phí cho nhiều dịp lễ, voucher giảm giá cho các thành viên VIP</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- EndSection Banner  -->

<!--Sản phẩm nổi bật-->
<section class="section pt-5">
    <div class="container text-center">
        <h4 class="font-weight-bold">Sản phẩm phổ biến</h4>
        <div id="randomImagesContainer" style="display: flex; justify-content: center;"></div>
        <script>
            // Demo duong dan anh
            var imagePaths = [
                '/image/article/pictures/602410-MLA47411235317_092021.jpg',
                '/image/article/pictures/602410-MLA47411235317_092021.jpg',
                '/image/article/pictures/602410-MLA47411235317_092021.jpg',
                '/image/article/pictures/602410-MLA47411235317_092021.jpg',
                '/image/article/pictures/602410-MLA47411235317_092021.jpg'
            ];

            function getRandomImages(arr, count) {
                var shuffled = arr.slice(0), i = arr.length, min = i - count, temp, index;
                while (i-- > min) {
                    index = Math.floor((i + 1) * Math.random());
                    temp = shuffled[index];
                    shuffled[index] = shuffled[i];
                    shuffled[i] = temp;
                }
                return shuffled.slice(min);
            }

            var randomImagePaths = getRandomImages(imagePaths, 5);

            var imagesContainer = document.getElementById('randomImagesContainer');
            randomImagePaths.forEach(function (imagePath, index) {
                var imgElement = document.createElement('img');
                imgElement.src = imagePath;
                imgElement.alt = 'Ảnh ngẫu nhiên';
                imgElement.style.width = '200px'; // Đặt chiều rộng của ảnh
                imgElement.style.marginRight = '5px'; // Khoảng cách giữa các ảnh
                imagesContainer.appendChild(imgElement);
            });
        </script>
    </div>
</section>
<!--End sản phẩm nổi bật-->

<!--Feedback-->
<div class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="box-head">
                    <h2 class="inner-title">
                        Feedback thân yêu
                    </h2>
                    <p class="inner-desc">
                        PTIT cho mình những người bạn những tiền bối và cho mình cả những người đồng nghiệp tuyệt vời. Chúng tớ gặp nhau và thật có duyên đều là sinh viên học viên P
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-md-4 col-sm-6 col-12">
                <div class="inner-box">
                    <div class="inner-main">
                        <div class="inner-content">
                            Tôi chọn khoác lên mình một chiếc áo khoác lửa, chiếc áo của sự hào nhoáng - chiếc áo khoác PTIT đỏ rực - để cháy hết mình trên con đường đam mê !
                        </div>
                    </div>
                    <div class="inner-info">
                        <img src="/image/QD09/FB1.png" alt="Ảnh 1">
                        <h3 class="inner-name">
                            Nguyễn Thị Lan
                        </h3>
                        <p class="inner-position">
                            Lập trình viên
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-6 col-12">
                <div class="inner-box">
                    <div class="inner-main">
                        <div class="inner-content">
                            "ÁO KHOÁC LIỀN TAY, ĐÁ BAY HỌC BỔNG "
                        </div>
                    </div>
                    <div class="inner-info">
                        <img src="/image/QD09/FB2.jpg" alt="Ảnh 1">
                        <h3 class="inner-name">
                            Nguyễn Hữu Quang Hòa
                        </h3>
                        <p class="inner-position">
                            Lập trình viên
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-6 col-12">
                <div class="inner-box">
                    <div class="inner-main">
                        <div class="inner-content">
                            Trước ngực, logo PTIT sắc đỏ đầy tự hào nổi bật, đại diện cho một cộng đồng sinh viên năng động.
                        </div>
                    </div>
                    <div class="inner-info">
                        <img src="/image/QD09/FB3.jpg" alt="Ảnh 1">
                        <h3 class="inner-name">
                            Nguyễn Tiến Thắng
                        </h3>
                        <p class="inner-position">
                            Lập trình viên
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Feedback-->

<!--Liên lạc-->
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="box-head">
                    <h2 class="inner-title">
                        Liên lạc
                    </h2>
                    <p class="inner-desc">Hãy liên lạc với chúng tôi bất cứ khi nào bạn cần !!!</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-12 mb-3">
                <div class="inner-info">
                    <div class="inner-list">
                        <div class="inner-item">
                            <div class="inner-icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="inner-content">
                                <div class="inner-title">
                                    Location:
                                </div>
                                <div class="inner-desc">
                                    Số 10 Trần Phú, Mỗ Lao, Hà Đông
                                </div>
                            </div>
                        </div>
<!--                        <div class="inner-item">-->
<!--                            <div class="inner-icon">-->
<!--                                <i class="fa-solid fa-location-dot"></i>-->
<!--                            </div>-->
<!--                            <div class="inner-content">-->
<!--                                <div class="inner-title">-->
<!--                                    Location:-->
<!--                                </div>-->
<!--                                <div class="inner-desc">-->
<!--                                    123 đường ABC-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="inner-item">-->
<!--                            <div class="inner-icon">-->
<!--                                <i class="fa-solid fa-location-dot"></i>-->
<!--                            </div>-->
<!--                            <div class="inner-content">-->
<!--                                <div class="inner-title">-->
<!--                                    Location:-->
<!--                                </div>-->
<!--                                <div class="inner-desc">-->
<!--                                    123 đường ABC-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <div class="inner-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.292513285951!2d105.7848629749993!3d20.980908489420973!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135accdd8a1ad71%3A0xa2f9b16036648187!2zSOG7jWMgdmnhu4duIEPDtG5nIG5naOG7hyBCxrB1IGNow61uaCB2aeG7hW4gdGjDtG5n!5e0!3m2!1svi!2s!4v1700904293622!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12 mb-3">
                <div class="inner-form">
                    <form action="">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="name">Họ tên</label>
                                    <input id="name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" type="email" class="form-control">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="subject">Tiêu đề</label>
                                    <input id="subject" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="content">Nội dung</label>
                                    <textarea id="content" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn-one btn-buy">Gửi ngay</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End liên lạc-->


<div th:replace="common/header :: footer"></div>
<div th:replace="common/header :: body-scripts"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.featured-items').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 4,
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        })
            .on('setPosition', function (event, slick) {
                slick.$slides.css('height', slick.$slideTrack.height() + 'px');
            });
        $('.featured-types').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 5,
                        slidesToScroll: 1,
                    }
                },
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 550,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 380,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                },
            ]
        });
    });
</script>
</body>
</html>