<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
  <head th:replace="common/header :: common-header" />

  <body class="d-flex flex-column">
    <div th:replace="common/header :: navbar"></div>

    <div class="container page-content">
      <div class="row">
        <div class="col-md-4 col-lg-3">
          <div class="card">
            <div class="card-body text-center">
              <img
                src="/image/user/ThiLan.png"
                width="100"
                height="100"
                alt="User"
                class="rounded-circle mb-3"
              />
              <h5
                style="font-width: 600"
                class="bold mb-0 title-2"
                th:text="${#strings.capitalize(user.username)}"
              ></h5>
              <small
                class="text-secondary title-bold"
                th:text="'Lần cuối cập nhật vào: ' +${#dates.format(#dates.createNow(), 'dd-MM-yyyy')}"
              ></small>
            </div>
            <div class="list-group list-group-flush quydat">
              <a
                th:href="@{/my-profile}"
                class="list-group-item list-group-item-action button-no-size"
                ><i data-feather="user" class="mr-3"></i> Thông tin</a
              >
              <a
                th:href="@{/my-orders}"
                class="list-group-item list-group-item-action active button-no-size"
                ><i data-feather="shopping-bag" class="mr-3"></i>Lịch sử mua
                hàng</a
              >
              <a
                th:href="@{/my-address}"
                class="list-group-item list-group-item-action button-no-size"
                ><i data-feather="map" class="mr-3"></i> Địa chỉ</a
              >
              <a
                style="color: #ffffff; font-weight: 500"
                th:href="@{/logout}"
                class="list-group-item list-group-item-action text-danger button-no-size"
                ><i data-feather="log-out" class="mr-3"></i> Đăng xuất
              </a>
            </div>
          </div>
        </div>

        <div class="col mt-3 mt-md-0">
          <div class="card">
            <div class="card-body">
              <h3
                style="font-weight: 600; text-align: center"
                class="title-bold"
              >
                Đơn hàng của tôi
              </h3>
              <hr />
              <div class="table-responsive">
                <table class="table table-hover" data-addclass-on-xs="table-sm">
                  <thead
                    style="background-color: var(--color-one)"
                    class="thead-light"
                  >
                    <tr>
                      <th
                        style="
                          color: #ffffff;
                          background-color: var(--color-one);
                        "
                        scope="col"
                      >
                        Mã đơn
                      </th>
                      <th
                        style="
                          color: #ffffff;
                          background-color: var(--color-one);
                        "
                        scope="col"
                      >
                        Ngày đặt hàng
                      </th>
                      <th
                        style="
                          color: #ffffff;
                          background-color: var(--color-one);
                        "
                        scope="col"
                      >
                        Tổng tiền
                      </th>
                      <th
                        style="
                          color: #ffffff;
                          background-color: var(--color-one);
                        "
                        scope="col"
                        class="text-center"
                      >
                        Tình trạng
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="order : ${orders}">
                      <th scope="row">
                        <a
                          th:href="@{/order-detail?order=}+${order.id}"
                          class="text-info"
                          >ORD<span th:text="${order.id}"></span
                        ></a>
                      </th>
                      <td
                        class="title-bold"
                        th:text="${#dates.format(order.orderDate, 'dd-MM-yyyy')}"
                      ></td>
                      <td>
                        <span
                          th:text="${#numbers.formatDecimal(order.orderTotal, 0, 'COMMA', 3, 'POINT') + ' VND'}"
                        ></span>
                      </td>
                      <td class="text-center">
                        <span
                          style="
                            padding: 7px;
                            background-color: var(--color-one);
                          "
                          class="badge badge-info rounded"
                          th:text="${order.orderStatus}"
                        ></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  end container -->

    <div th:replace="common/header :: footer"></div>

    <div th:replace="common/header :: body-scripts"></div>
  </body>
</html>
