<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
  <head th:replace="common/header :: common-header" />

  <body class="d-flex flex-column">
    <div th:replace="common/header :: navbar"></div>

    <div class="container page-content">
      <div class="row">
        <div class="col-md-4 col-lg-3">
          <div class="card">
            <div class="card-body text-center">
              <img
                src="/image/user/ThiLan.png"
                width="100"
                height="100"
                alt="User"
                class="rounded-circle mb-3"
              />
              <h5 style="font-width: 600;"
                class="bold mb-0"
                th:text="${#strings.capitalize(user.username)}"
              ></h5>
              <small
                class="text-secondary title-bold"
                th:text="'Lần cập nhật cuối: ' +${#dates.format(#dates.createNow(), 'dd-MM-yyyy')}"
              ></small>
            </div>
            <div class="list-group list-group-flush quydat">
              <a
                th:href="@{/my-profile}"
                class="list-group-item list-group-item-action active button-no-size"
                ><i data-feather="user" class="mr-3"></i> Thông tin</a
              >
              <a
                th:href="@{/my-orders}"
                class="list-group-item list-group-item-action button-no-size"
                ><i data-feather="shopping-bag" class="mr-3"></i>Lịch sử mua hàng</a
              >
              <a
                th:href="@{/my-address}"
                class="list-group-item list-group-item-action button-no-size"
                ><i data-feather="map" class="mr-3"></i> Địa chỉ</a
              >
              <a style="color: #FFFFFF;font-weight: 500"
                th:href="@{/logout}"
                class="list-group-item list-group-item-action text-danger button-no-size"
                ><i data-feather="log-out" class="mr-3"></i> Đăng xuất
              </a>
            </div>
          </div>
        </div>

        <div class="col mt-3 mt-md-0">
          <div
                  style="background-color: var(--color-one);"
            th:if="${updateSuccess}"
            class="alert alert-success alert-dismissible fade show"
            role="alert"
          >
            <strong style="color: #FFFFFF">Thông tin đã được cập nhật!</strong>
            <button
                    style="color: #FFFFFF"
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div
            th:if="${incorrectPassword}"
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
          >
            <strong>Sai mật khẩu</strong>
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
              style="color:red"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="card">
            <div class="card-body">
              <h3 class="title-form">Thông tin cá nhân</h3>
              <hr />
              <form
                id="profileForm"
                th:action="@{/update-user-info}"
                novalidate
                method="post"
              >
                <div class="form-row">
                  <div class="form-group col-sm-6">
                    <label class="title-2" for="firstName">Tên</label>
                    <input
                      type="text"
                      class="form-control inner-input"
                      id="firstName"
                      name="firstName"
                      th:value="${user.firstName}"
                    />
                  </div>
                  <div class="form-group col-sm-6">
                    <label class="title-2" for="lastName">Họ</label>
                    <input
                      type="text"
                      class="form-control inner-input"
                      id="lastName"
                      name="lastName"
                      th:value="${user.lastName}"
                    />
                  </div>
                  <div class="form-group col-sm-6">
                    <label class="title-2" for="userName">Tên đăng nhập</label>
                    <input
                      required="required"
                      type="text"
                      class="form-control inner-input"
                      th:classappend="${usernameExists} ? is-invalid"
                      id="userName"
                      name="username"
                      th:value="${user.username}"
                    />
                    <div class="invalid-feedback">
                      Tên đăng nhập đã được sử dụng. Vui lòng chọn tên khác.
                    </div>
                  </div>
                  <div class="form-group col-sm-6">
                    <label class="title-2" for="email">Email</label>
                    <input
                      required="required"
                      type="text"
                      class="form-control inner-input"
                      th:classappend="${emailExists} ? is-invalid"
                      id="email"
                      name="email"
                      th:value="${user.email}"
                    />
                    <div class="invalid-feedback">
                      Email được sử dụng bởi tài khoản khác.
                    </div>
                  </div>
                  <div class="form-group col-sm-6">
                    <label class="title-2" for="txtNewPassword">Mật khẩu mới</label>
                    <input
                      type="password"
                      class="form-control inner-input"
                      id="txtNewPassword"
                      name="newPassword"
                      autocomplete="new-password"
                    />
                  </div>
                  <div class="form-group col-sm-6">
                    <label class="title-2" for="txtConfirmPassword">Xác nhận mật khẩu</label>
                    <input
                      type="password"
                      class="form-control inner-input"
                      id="txtConfirmPassword"
                    />
                    <div class="invalid-feedback">
                      Mật khẩu đã nhập không khớp với mật khẩu đã tạo
                    </div>
                  </div>
                  <div class="inner-button">
                    <button
                      id="updateUserInfoButton"
                      type="button"
                      class="btn-one btn-buy "
                    >
                      CẬP NHẬT THÔNG TIN
                    </button>
                  </div>
                </div>

                <!--  password check modal -->
                <div
                  class="modal fade"
                  id="passwordModal"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="exampleModalCenterTitle"
                  aria-hidden="true"
                >
                  <div
                    class="modal-dialog modal-dialog-centered"
                    role="document"
                  >
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title title-2" id="exampleModalLongTitle">
                          Nhập mật khẩu hiện tại của bạn
                        </h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <input
                          type="password"
                          class="form-control"
                          id="password"
                          name="password"
                        />
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal"
                          style="color:#FFFFFF"
                        >
                          Đóng
                        </button>
                        <button type="submit" class="btn btn-primary button-no-size-1">
                          Cập nhật
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!--  /password check modal -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  end container -->

    <div th:replace="common/header :: footer"></div>
    <div th:replace="common/header :: body-scripts"></div>

    <script>
      function checkPasswordMatch() {
        var password = $("#txtNewPassword").val();
        var confirmPassword = $("#txtConfirmPassword").val();
        if (password == "" && confirmPassword == "") {
          $("#updateUserInfoButton").attr("disabled", false);
        } else {
          if (password != confirmPassword) {
            $("#updateUserInfoButton").attr("disabled", true);
            $("#txtConfirmPassword").addClass("is-invalid");
          } else {
            $("#updateUserInfoButton").attr("disabled", false);
            $("#txtConfirmPassword").removeClass("is-invalid");
          }
        }
      }

      $(document).ready(function () {
        $("#txtConfirmPassword").keyup(checkPasswordMatch);
        $("#txtNewPassword").keyup(checkPasswordMatch);
        $("#updateUserInfoButton").click(function () {
          console.log("clickeo");
          if ($("#txtNewPassword").val() == "") {
            $("#profileForm").submit();
          } else {
            $("#passwordModal").modal("show");
          }
        });
      });
    </script>
  </body>
</html>
