<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
  <head th:replace="common/header :: common-header" />

  <body class="d-flex flex-column">
    <div th:replace="common/header :: navbar"></div>
    <div class="container page-content mt-5">
      <div class="card p-4 border rounded-3">
        <div class="card-body">
          <h3 class="font-weight-bold text-center mb-3">Sản phẩm đã đặt</h3>
          <div
            class="row align-items-center py-2"
            th:each="cartItem : ${order.cartItems}"
          >
            <div class="col-12 col-md-6 mb-2">
              <div class="row align-items-center">
                <div class="col-3">
                  <a
                    th:href="@{/article-detail?id=}+${cartItem.article.id}"
                    class="border"
                    ><img
                      class="img-fluid"
                      th:src="${cartItem.article.picture}"
                      th:alt="${cartItem.article.title}"
                  /></a>
                </div>
                <div class="col-9">
                  <a
                    th:href="@{/article-detail?id=}+${cartItem.article.id}"
                    class="h6 bold d-inline-block"
                    th:text="${cartItem.article.title}"
                  ></a>
                  <div>
                    <b>Tình trạng: </b>
                    Còn hàng
                    <i
                      class="mb-1 text-success"
                      data-feather="check-circle"
                    ></i>
                  </div>
                  <div>
                    <span
                      ><b>Màu sắc</b>: <span th:text="${cartItem.color}"></span
                    ></span>
                  </div>
                  <span>
                    <b>Giá 1 sản phẩm: </b>
                    <span
                      th:text="${#numbers.formatDecimal(cartItem.article.price, 0, 'COMMA', 3, 'POINT') + ' VND'}"
                    >
                    </span>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 text-right">
              <span>x <span th:text="${cartItem.qty}"></span> sản phẩm: </span>
              <span class="font-weight-bold"
                ><span
                  th:id="'price'+${cartItem.id}"
                  th:text="${#numbers.formatDecimal(cartItem.subtotal, 0, 'COMMA', 3, 'POINT') + ' VND'}"
                ></span
              ></span>
            </div>
          </div>
          <hr />
          <div class="mt-3">
            <h5 class="text-right">
              <span class="font-weight-bold title-2">TỔNG: </span>
              <span
                th:text="${#numbers.formatDecimal(order.orderTotal, 0, 'COMMA', 3, 'POINT') + ' VND'}"
              ></span>
            </h5>
          </div>
        </div>
      </div>
      <div class="card mt-3 border">
        <div class="card-body row w-75 mx-auto">
          <div class="col-6">
            <div class="d-flex flex-column">
              <b>Ngày đặt hàng:</b>
              <b>Dự kiến giao hàng:</b>
              <b>Trạng thái đơn hàng:</b>
              <b>Tên người nhận:</b>
              <b>Địa chỉ:</b>
              <b>Thành phố:</b>
            </div>
          </div>
          <div class="col-6">
            <div class="text-right d-flex flex-column">
              <span
                th:text="${#dates.format(order.orderDate, 'dd-MM-yyyy')}"
                class="text-info"
              ></span>
              <span
                th:text="${#dates.format(order.shippingDate, 'dd-MM-yyyy')}"
                class="text-info"
              ></span>
              <span th:text="${order.orderStatus}" class="text-info"></span>
              <span
                th:text="${order.shipping.receiver}"
                class="text-info"
              ></span>
              <span
                th:text="${order.shipping.address.streetAddress}"
                class="text-info"
              ></span>
              <span
                th:text="${order.shipping.address.city}"
                class="text-info"
              ></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  end container -->

    <div th:replace="common/header :: footer"></div>
    <div th:replace="common/header :: body-scripts"></div>
  </body>
</html>
