<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header" />


<body class="d-flex flex-column">
  <div th:replace="common/header :: navbar"> </div>

  <div class="container page-content">
    <div class="card">
      <div class="card-body">
        <div class="text-center py-3">
          <i data-feather="check-circle" class="text-success" width="48" height="48"></i>
          <h1 class="title-2">Cảm ơn bạn đã ủng hộ PTIT Shop.</h1>
          <p>Đơn hàng đã được đặt và sẽ được giao trong thời gian sớm nhất có thể</p>
          <p class="mb-0">
            <span class="title-bold">Mã đơn hàng: </span>
            <span class="title-2">#ORD<span class="title-2" th:text="${order.id}"></span></span>
          </p>
          <p>
            <span class="title-bold">Thanh toán: </span>
            <span class="title-2"><span class="title-2" th:text="${#numbers.formatDecimal(order.orderTotal, 0, 'COMMA', 3, 'POINT') + ' VND'}"></span></span>
          </p>
          <p style="color:#232323">Đơn hàng dự tính sẽ được giao đến bạn vào ngày <span th:text="${#dates.format(order.shippingDate, 'dd-MM-yyyy')}"></span></p>
          <a th:href="@{/store}" class="btn btn-info rounded mb-3 button-no-size">Tiếp tục mua hàng</a>
          <a th:href="@{/order-detail?order=}+${order.id}" class="btn btn-primary rounded mb-3 button-no-size-1">Xem đơn hàng</a>
        </div>
      </div>
    </div>  
  </div> <!-- end container -->
  
  <div th:replace="common/header :: footer"> </div>
  <div th:replace="common/header :: body-scripts"> </div>
</body>
</html>